.users {
    width: 50%;
    font-size: 25px;
    list-style: none;
}

.users li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.users li img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid black;
}

.users li a {
    text-decoration: none;
}
.active {
    color: chocolate;
    font-size: larger;
}