.users {
    display: flex;
    background-color: #fdc6fd;
    flex-direction: column;
}

.users h2 {
    /*color: #faa816;*/
}

.usersContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.usersAction {
    margin-top: 10px;
    width: 600px;
}
