.paginationContainer{
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 0;
    height: 40px;
}
.paginationContainer button {
    border-radius: 50px;
    cursor: pointer;
}

.pages {
    width: 700px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.selectPage {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.selectedPage {
    cursor: pointer;
}