.nav {
    grid-area: nav;
    background-color: blanchedalmond;
    padding: 20px 20px;
    /*position: fixed;*/
    /*height: 100vh;*/
    /*margin-top: 65px;*/
}
.nav ul {
    display: flex;
    padding-left: 0;
    gap: 10px;
}
.nav ul li {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.nav ul li img {
    width: 50px;
}

.item a {
    text-decoration: none;
}

.item a.active {
    color: orangered;
    font-size: larger;
}